out
dist
node_modules
.vscode-test/
*.vsix
*.tmp
*.tmp.md
*.tmp.txt
*.tmp.json
*.tmp.yaml
*.tmp.yml
*.tmp.toml
*.tmp.ini
*.temp
*.temp.md
*.temp.txt
*.temp.json
*.temp.yaml
*.temp.yml
*.temp.toml
*.temp.ini
*.tmp.ts
*.tmp.tsx
*.tmp.js
*.tmp.jsx
*.tmp.css
*.tmp.html
*.tmp.mdx